{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "babel"
  ],
  "rules": {
    "semi": 0,
    "space-before-function-paren": 0,
    "space-in-parens": 0
  }
}
