@import 'var.less';

.Editor {
  width: 100%;
  height: 100%;

  .bar {
    position: absolute;
    width: 100%;
    background-color: @translucent-white;
  }

  .top-bar {
    .bar;
  }

  .bottom-bar {
    .bar;
    bottom: 0;
  }

}
