@import 'var.less';

@bar-border: 1px solid @grey-300;

.LR-Editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .visible {
    transition: 0.2s ease-out;
  }

  .hidden {
    transition: 0.2s ease-in;
  }

  .float-paper {
    height: 42px;
    margin: 0 12px;
  }

  .paper-bar {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.top {
      top: 0px;
      &.hidden {
        top: -122px;
      }
    }

    &.bottom {
      bottom: 0px;
      &.hidden {
        bottom: -122px;
      }
    }
  }

  .float-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 56px;
  }

  .top-toolbar {
    align-items: flex-end;
  }

  .center-container {
    display: flex;
  }

  .toolbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    max-width: 900px;
    height: 56px;
    width: 100%;
    padding: 0px 24px;
    background-color: white;

    &.float-toolbar {
      height: 42px;
      padding: 0 6px;
      align-items: center;
    }
  }

  .time-control-toolbar.hidden {
    height: 0px;
  }

  .toolbar-group {
    height: 56px;
    display: flex;
    align-items: center;
  }

  .time-control {
    flex-grow: 1;
  }

  .timeline {
    box-sizing: border-box;
    flex: 1 0.5 48*7px;
    padding: 16px;
  }
}
