@transition-time: 0.2s;
@small-icon-height: 42px;
@icon-width: 48px;
@icon-height: @icon-width;
@toolbar-height: 56px;
@toolbar-max-width: 900px;
@num-icons-in-timeline: 7;
@max-shadow-height: 10px;
@hidden-paper-bar-distance: -1 * (@max-shadow-height + 2 * @icon-height);

.LR-Editor {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  .visible {
    transition: @transition-time ease-out;
  }

  .hidden {
    transition: @transition-time ease-in;
  }

  .float-paper {
    height: @small-icon-height;
    margin: 0 12px;
  }

  .paper-bar {
    position: absolute;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.top {
      top: 0;
      &.hidden {
        top: @hidden-paper-bar-distance;
      }
    }

    &.bottom {
      bottom: 0;
      &.hidden {
        bottom: @hidden-paper-bar-distance;
      }
    }
  }

  .float-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: @toolbar-height;
  }

  .toolbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    max-width: @toolbar-max-width;
    height: @toolbar-height;
    width: 100%;
    padding: 0 24px;
    background-color: white;

    &.float-toolbar {
      height: @small-icon-height;
      padding: 0 6px;
      align-items: center;
    }

    &.top {
      align-items: flex-end;
    }

  }

  .time-control-toolbar.hidden {
    height: 0px;
  }

  .toolbar-group {
    height: @toolbar-height;
    display: flex;
    align-items: center;
  }

  .time-control {
    flex-grow: 1;
  }

  .timeline {
    box-sizing: border-box;
    flex: 1 0.5 @num-icons-in-timeline*@icon-height;
    padding: 16px;
  }
}
